body {
  background-color: #f3f3f3;
}

.timer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.field {
  width: 100px;
  margin-right: 45px;
  text-align: center;
  background-color: #da0000;
  border-radius: 10px;
  box-shadow: 5px 5px #202020;
}

.label {
  display: block;
  margin-bottom: 15px;
  color: #202020;
  text-transform: uppercase;
}

.value {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}

.field:hover {
  transform: scale(1.05);
}
